@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --border-gray: #e1e8f0;
  --text-color: #324154;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--text-color);
}

h2 {
  margin: 0;
}

p {
  line-height: 1.6;
  color: #64748b;
}

body {
  margin: 0;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  font-family: "Inter", sans-serif;
}

/* APP */
/* ==== */
.title {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 2em;
  box-shadow: var(--light-shadow);
}

/* QUESTION */
/* ======== */

.question-card {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: var(--light-shadow);
}

.question-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.question-title {
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.4;
}

.toggle-btn {
  align-self: flex-start;
  background: none;
  border: none;
}

.toggle-icon {
  border-radius: 50%;
  font-size: 1.5rem;
  color: #7f7fd5;
  margin-top: 3px;
}
